.left{
    float: left;
}

.right{

    float: right;
}

.clear{
    overflow: hidden;
}

.container{
    max-width: 1200px;
    margin: auto;
    background-color: #6a6a6a;
}

.card{
    
    width: 25%;
    margin: 0 50px 0 0;
    background-color: red;
}

.card__img{
    text-align: center;
}

.card__img >img{
    
    max-width:250px;
    height: 300px;

}   

.thumbs{
    margin: auto 100px 20px;
}

.upload{
    margin: auto  300px;
    width: fit-content;
    margin-bottom: 100px;    
    
}

.upload > form{
    width: fit-content;
}

.page-numbers  > ul > li{

    display: inline;
}