.left{
    float: left;
}

.right{

    float: right;
}

.clear{
    overflow: hidden;
}

.container{
    max-width: 1200px;
    margin: auto;
    background-color:   #edc7b7;
    border: 6px solid #B22222;
    border-radius: 10px;

}

.card{
    
    width: 25%;
    margin: 0 50px 0 0;
    background-color: #ac3b61;
}

.card__text{
    
    text-align: center;
    margin: 5px 0 5px 0;
     
}

.card__text > a{
    color: #123c69;
    font-size: 1.6em;
}

.card__img{
    text-align: center;
}

.card__img >img{
    
    max-width:250px;
    height: 300px;

}


.thumbs{
    margin: auto 100px 20px;
}

.upload{
    margin: auto  300px;
    width: fit-content;
    margin-bottom: 100px;    
    
}

.upload > form{
    width: fit-content;
}

.page-numbers  > ul > li{

    display: inline;
}

.page > a {
    display: block;
    text-align: center;
}

.page > a > img{
    
    margin-top: 20px;
    cursor: -webkit-zoom-in;
    height: 100vh;

}